table{
  margin: auto;
}



td{
  width: 100px;
  height: 100px;

}

.middle{
  border-left: 1px solid red;
  border-right:1px solid red;
}

.horizontal{
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}
